h4{
    text-align:center;    
}


.logo{
    text-align: center;
    width: 230px;
    height: 80px;
}

table{
    text-align:left;
    margin:auto;
}

.descNoticia{
    width:750px; 
    text-align: justify;
    letter-spacing: 15px;
    line-height: 1.3;
    word-spacing: 10px;
}


table td{
    width:250px; 
    margin: 150px;    
    text-align: justify;
    letter-spacing: 15px;
    line-height: 1.3;
    word-spacing: 10px;
}

.subresult{    

}

.subresultblue{    
    background-color: #003399;
    color: white;
    font-weight: bold;
}

.result{    
    font-weight: bold;
    font-size: 18px;
}

.resulttitle{
    font-weight: bold;
    font-size: 18px;
}

.subtitle{    
    font-weight: bold;
}

.backgroundGray{
    background-color: #cccccc;
}


.subtitleblue{
    background-color: #003399;
    color: white;
    font-weight: bold;
}


/*h1{
    text-align:center;    
}

table{
    text-align:left;
    margin:auto;
}

table tr th{
    background-color: #a4b2cb;
}

table tr{
    text-align: center;
}*/
